body{
    background-color: #106900;
}

h1{
    text-align: center;
}

#dechet-box img{
    width:100px;
    height:100px;
}

#game{
    display:block;
    margin:auto;
    width: 80%;
    height: 600px;
    background-color: whitesmoke;
}

#score{
    margin: auto;
    width: 80%;
    height: 600px;
    background-color: whitesmoke;
    display: none;
    color: white;

}

#poubelle-jaune{
    width:12%;
    height: 200px;
    background-image: url("images/jaune.jpg");
    background-repeat: no-repeat;

}
#poubelle-bleu{
    width: 12%;
    height: 200px;
    background-image: url("images/bleu.jpg");
    background-repeat: no-repeat;
}
#poubelle-vert{
    width: 12%;
    height: 200px;
    background-image: url("images/vert.jpg");
    background-repeat: no-repeat;

}
#poubelle-marron{
    width: 12%;
    height: 200px;
    background-image: url("images/marron.jpg");
    background-repeat: no-repeat;

}
#poubelle-box{
    position: relative;
    top: 300px;
    display: flex;
    justify-content: space-around;

}

#dechet-box{
    display: flex;
    justify-content: space-around;
    height: 100px;
}

#note{
    text-align: right;
}

#RPJaune{
    background-color: rgba(115, 104, 0, 0.78);
    height: 105px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 95%;
    margin-top: 2%;
}

#RPBleu{
    background-color: blue;
    height: 105px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 95%;
    margin-top:2%;
}

#RPVert{
    background-color: green;
    height: 105px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 95%;
    margin-top: 2%;

}

#RPMarron {
    background-color: maroon;
    height: 105px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 95%;
    margin-top: 2%;
}
